
body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
hr{
    height: 2px solid grey;
}
@font-face{
    font-family: 'roboto';
    src: url(Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 600;
}
h2{
    font-family: roboto;
    font-weight: 600;
}
@font-face{
    font-family: 'roboto';
    src: url(Roboto/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
h5{
    font-family: roboto;
    font-weight: 100;
}

/* All body */
.container{
    width: 100%;
    display: grid;
    grid-template-areas: 
        "nav nav"
        "contentss side"
        "footer footer"
                    ;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 70px auto 100px;
}
header{
    grid-area: nav;
    justify-content: center;
    background-color: white;
}
 nav{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #f5f7f6;
    position: fixed;
    align-items: center;
    /* border: 5px solid black; */
    justify-content: space-between; 
    /* border-bottom: 1px solid grey; */
   
} 

.logo{
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: row;
    /* padding: 10px ; */
    margin: 5px;

}
.menu{
    padding-right: 10px;
}
.searchbar{
    display: flex;
    flex-direction: row; 
    height: 20px;
    /* width: 400px; */
    font-size: 20px;
}
.inputbar{
    width: 450px;
    height: 20px;
}
.searchbutton img{
    padding: 4px 0 0 15px;
    width: 150px;
    height: 30px;
}
.icons{
    margin-right: 20px;
    justify-content: space-evenly;
    font-size: 20px;
}
.icon-pad{
    padding: 10px 10px 10px 15px;
}
.videos{
    margin:20px 50px 20px 50px ;
    
}
.main-video{

}
section{
    grid-area: contentss;
    
}
.details{
    width: 805px;
    height: 250px;
    display: block;
    background-color: #f5f5f5;
    
}
.users{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}
.video-details{
    display: inline-flex;
}
.comment{
    margin-top: 20px;
    width: 805px;
    height: auto;
    display: block;
    background-color: #f5f5f5;
}
.comment-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-icon{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
    gap: 15px;
}
.user-avatar{
    font-size: 50px;
    margin-right: 15px;
    margin-top: 10px;
}
.username{
    /* align-content: center; */
    font-size: 12px;
    margin-bottom: 20px;
    width: 100px;
    justify-content: center;
}
.subscribe{
    float: left;
}
.user-comment{
    padding-top: 5px;
    background-color: #f5f5f5;
    width: 805px;
    padding-left: 60px;
}
a{
    text-decoration: none;
}
.public-comment{
    display: inline;
    margin-bottom: 20px;
}
.subscriber-comment{
    border: none;
    background: none;
    margin-left: 15px;
}
aside{
    grid-area: side;
    margin:20px 20px 20px 50px ;
    background-color: #f5f5f5;
}
.aside-top{
    text-align: center;
    margin-bottom: 20px;
    height: 20px;
    width: auto;
}
.aside-top a{
float: right;
text-decoration: none;
color: grey;
font-size: 12px;
font-weight: bold;
}
.aside-top p{
    float: left;
    font-size: 15px;

}
.side-video{
    display: flex;
    flex-direction: row;
    height: 120px;

}
.rightvideoinfo{
    display: block;
    margin-left: 20px;
}
footer{
    grid-area: footer;
    display: block;
    
    background-color: #f5f5f5;
    }
    .info-abt-footer{
    margin-left: 70px; 
    }
    
    .first{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 40px;
    align-items: center;
    }
    select{ border: none;
        background: none;

    }
    .button{
        margin-right: 15px;
    }
    .history{
    display: flex;
    flex-direction: row;
    height: 22px;
    /* margin-left: 20px; */

    }
    .inner-history
    {
        margin-right: 15px;
    }
    .space{
        padding-right: 7px;
    }
    .info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40px;
    }
    
    .policy{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40px;
    }
    
    