
body{
    margin: 0;
    padding: 0;
}
hr{
    height: 2px solid grey;
}

/* All body */
.container{
    width: 100%;
    display: grid;
    grid-template-areas: 
        "nav nav"
        "contentss side"
        "footer footer"
                    ;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px auto 100px;
}
header{
    grid-area: nav;
    justify-content: center;
}
 nav{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 5px solid black;
    justify-content: space-between; 
    border-bottom: 1px solid grey;
   
} 

.logo{
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: row;
    /* padding: 10px ; */
    margin: 5px;

}
.menu{
    padding-right: 10px;
}
.searchbar{
    display: flex;
    flex-direction: row;
    height: 20px;
}
.inputbar{
    
}
.searchbutton{

}
.icons{
    margin-right: 20px;
    justify-content: space-evenly;
}
.videos{
    margin:20px 50px 20px 50px ;
}
section{
    grid-area: contentss;
}
.details{
    width: 750px;
    height: 250px;
    display: block;
}
.users{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}
.comment{
    margin-top: 20px;
    width: 750px;
    height: auto;
    display: block;
}
.comment-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-icon{
    display: flex;
    flex-direction: row;
}
.usersame{
    align-content: center;
    font-size: 12px;
    margin-top: 0;
}
aside{
    grid-area: side;
    margin:20px 50px 20px 50px ;
}
.side-video{
    display: flex;
    flex-direction: row;
    height: 120px;

}
.rightvideoinfo{
    display: block;
    margin-left: 20px;
}
footer{
    grid-area: footer;
    display: block;
    margin-left: 40px;
    }
    .info-abt-footer{
    margin-left: 70px; 
    }
    
    .first{
    display: flex;
    flex-direction: row;
    justify-content: start;
    }
    .history{
    display: flex;
    flex-direction: row;
    }
    .info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    }
    
    .policy{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    }
    
    